.trending-products {
}

.background-white {
  background-color: #fff;
  width: 800px;
  height: 400px;
  gap: 30px;
  display: block;
  border-radius: 5px;
}

.product-list {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: center;
}
.product-name {
  color: grey;
  font-size: 14px;

}

.trending-heading{
  color: black;
}
.trending-image{
  width: 110px;
  height: 140px;
  border-radius: 5px;
}
