.trending-products {
}

.background-white {
  background-color: #fff;
  width: 800px;
  height: 400px;
  gap: 30px;
  display: block;
  border-radius: 5px;
}

.product-list {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: center;
}
.product-name {
  color: grey;
  font-size: 14px;

}

.trending-heading{
  color: grey;
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-left: 20px;
  font-family: "Concert One", cursive;
}
.trending-image{
  width: 140px;
  height: 140px;
  border-radius: 5px;
}
.popular-suggestion{
  color: grey;
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  margin-left: 20px;
  font-family: "Concert One", cursive;
}
.suggestion li{
  list-style-type: none;
  color: black;
  display: flex;
  justify-content: flex-start;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
